
/* Price Range Design */
.form-range::-webkit-slider-thumb, .form-range::-webkit-slider-thumb:active, .form-range:focus::-webkit-slider-thumb{
    background-color: #292121!important;
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 0.25rem rgb(103 109 118 / 25%);
}

/* Radio Button Design */
.form-check-input[type=radio]{
    background-color:#292121!important;
    border-color:#ffffff!important;}
.form-check-input:focus {
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(103 109 118 / 25%);
}

