{% extends "generatorapp/base.html" %}
{% block content%}
<form action="{% url 'password' %}">
    <div class="col-6 mx-auto mt-3">
      <label for="length" class="form-label">Choose Length</label>
      <input type="range" max="12" min="6" step="1" name="length" class="form-range" id="length">
      Length : <span id="length_value">9</span>
    </div>
    <div class="col-6 mx-auto mt-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio_options" id="all" value="all" checked>
        <label class="form-check-label" for="all">All</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio_options" id="inlineRadio2" value="uppercase">
        <label class="form-check-label" for="uppercase">Uppercase</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio_options" id="inlineRadio3" value="lowercase">
        <label class="form-check-label" for="lowercase">Lowercase</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio_options" id="inlineRadio3" value="numbers">
        <label class="form-check-label" for="numbers">Numbers</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio_options" id="inlineRadio3" value="special_characters">
        <label class="form-check-label" for="special_characters">Special Characters</label>
      </div>
    </div>
    <div class="text-center mt-5">
        <input class="btn btn-outline-light" type="submit" value="Submit" name="submit">
    </div>
</form>
{% endblock %}